In [1]:
import pandas as pd
import numpy as np

# **Brakujące wartości**

**Brakujące wartości** to rekordy, które są nieobecne w zestawie danych.

**Przyczyny występowania**:
* Błąd człowieka podczas wprowadzania danych​

* Ochrona prywatności (dane wrażliwe)
* Brak odpowiedzi w ankietach

Problemy techniczne przy zbieraniu danych

Jest to jeden z **najczęściej występujących problemów** w analizie danych i kluczowy etap wstępnego przetwarzania (data preprocessing).

In [2]:
# Definicja DataFrame
df_student = pd.DataFrame({
    'imie': ['Anna', 'Piotr', 'Maria', 'Jan', 'Katarzyna', 'Tomasz', 'Magdalena', 'Paweł', 'Ewa', 'Michał'],
    'wiek': [20, 22, 21, np.nan, 23, 20, 22, np.nan, 21, 23],
    'ocena_matematyka': [4.5, np.nan, 5.0, 4.0, 3.5, 4.5, 5.0, 3.5, np.nan, 4.0],
    'ocena_fizyka': [5.0, 4.5, np.nan, 4.0, 4.5, np.nan, 5.0, 4.0, 4.5, np.nan],
    'ocena_informatyka': [4.0, 3.5, 4.5, np.nan, 5.0, 3.5, 4.5, 4.0, np.nan, 4.5],
    'miasto': ['Warszawa', 'Kraków', 'Wrocław', 'Poznań', 'Gdańsk', np.nan, 'Warszawa', 'Kraków', 'Wrocław', 'Poznań']
})

In [3]:
# 1. Sprawdzenie czy są brakujące wartości
print("1. Sprawdzenie brakujących wartości (True = brak):")
print(df_student.isnull())
# lub: df.isna()
print("\n" + "="*60 + "\n")

1. Sprawdzenie brakujących wartości (True = brak):
    imie   wiek  ocena_matematyka  ocena_fizyka  ocena_informatyka  miasto
0  False  False             False         False              False   False
1  False  False              True         False              False   False
2  False  False             False          True              False   False
3  False   True             False         False               True   False
4  False  False             False         False              False   False
5  False  False             False          True              False    True
6  False  False             False         False              False   False
7  False   True             False         False              False   False
8  False  False              True         False               True   False
9  False  False             False          True              False   False

============================================================

In [4]:
# 2. Liczba brakujących wartości w każdej kolumnie
print("2. Liczba brakujących wartości w każdej kolumnie:")
print(df_student.isna().sum())
print("\n" + "="*60 + "\n")

2. Liczba brakujących wartości w każdej kolumnie:
imie                 0
wiek                 2
ocena_matematyka     2
ocena_fizyka         3
ocena_informatyka    2
miasto               1
dtype: int64

============================================================

In [5]:
# 3. Procent brakujących wartości
print("3. Procent brakujących wartości w każdej kolumnie:")
print((df_student.isnull().sum() / len(df)) * 100)
print("\n" + "="*60 + "\n")

3. Procent brakujących wartości w każdej kolumnie:

NameError: name 'df' is not defined

In [ ]:
# 4. Całkowita liczba brakujących wartości
print("4. Całkowita liczba brakujących wartości w całym DataFrame:")
print(df_student.isnull().sum().sum())

## **Rozwiązanie kwestii brakujących danych**

* **Usuwanie rekordów** zawierających brakujące wartości.
* **Ręczne uzupełnianie** brakujących wartości.
* Uzupełnianie **brakujących wartości wskaźnikami** tendencji centralnej, np.: średnią, medianą czy dominantą.
  * **Średniej** używamy w przypadku cech numerycznych,
  * **mediany** w cechach porządkowych,
  * **dominantę** (czyli najczęściej powtarzającą się wartość) umieszczamy w cechach kategorialnych.

Uzupełnianie **najbardziej prawdopodobną wartością** przy użyciu modeli uczenia maszynowego, takich jak regresja, drzewa decyzyjne czy algorytm KNN.

## **Czym jest NaN i dlaczego jest wyjątkowy?**

**NaN** (Not a Number) – specjalna wartość reprezentująca brakujące dane.

Dane mogą zawierać różne oznaczenia braków:
* Tekstowe: "NA", "N/A", "brak", "?", "-"

* Numeryczne: 0, -999, -1​

* Inne: puste stringi ""

In [ ]:
np.nan == np.nan

In [ ]:
np.nan is np.nan

 Dlatego używamy specjalnych funkcji:

In [ ]:
pd.isna(np.nan)

In [ ]:
pd.isnull(np.nan)

In [ ]:
df = pd.DataFrame({
    'A': [1, np.nan, 3],# ✓ NaN - brakująca wartość ​
    'B': [4, None, 6],  # ✓ None - też brakująca ​
    'C': [7, 0, 9],     # ✗ 0 - NIE jest brakująca! ​
    'D': ['x', '', 'z'] # ✗ '' - NIE jest brakująca! ​
})

In [ ]:
df.isnull().sum()

## **Usuwanie brakujących wartości**

Usuń wiersze z DOWOLNĄ brakującą wartością (domyślnie) ​

```
df.dropna()
df.dropna(how='any')
```

Usuń wiersze tylko gdy WSZYSTKIE wartości są brakujące df.dropna(how='all')
```
df.dropna(how="all")
```

Usuń kolumny z brakującymi wartościami
```
df.dropna(axis=1)
```

## **Uzupełnienie średnią lub modą​**

W pandas *dataFrame* możemy uzupełnić brakujące wartości za pomocą funkcji `fillna()`.
* Przyjmuje ona jedną wartość, która będzie wstawiana w pustych pozycjach lub zamiast wartości NaN.

Uzupełnia wszystkie brakujące wartości w kolumnie age średnią obliczoną z tejże kolumny

```data['age'] = data.age.fillna(data.age.mean())​```

Uzupełnia wszystkie brakujące wartości w kolumnie income medianą obliczoną z tejże kolumny

```data['income']=data.income.fillna(data.income.median())```

Zastępuje wszystkie brakujące wartości w kolumnie gender (kolumna kategorii) dominantą wyliczoną z tejże kolumny​

```data['gender']=data['gender'].fillna(data['gender'].mode()[0])​```

In [ ]:
df_student

In [ ]:
df_student["wiek"] = df_student.wiek.fillna(df_student.wiek.mean())
df_student

In [ ]:
df_student["ocena_matematyka"] = df_student["ocena_matematyka"] .fillna(df_student["ocena_matematyka"] .mean())
df_student

In [ ]:
df_student["miasto"] = df_student["miasto"].fillna(df_student["miasto"] .mode()[0])
df_student

## **Obsługa brakujących danych jako stringi**

**Problem**
* Dane często zawierają braki zapisane jako tekst: **"NA", "N/A", "brak", "?", "-", "brak danych"**

* Pandas **nie rozpoznaje** ich automatycznie jako brakujące wartości!

### **Rozwiązanie 1: Wczytywanie z pliku CSV**

```
import pandas as pd

# Definiujemy listę wartości oznaczających brak
braki = ['NA', 'N/A', 'brak', 'brak danych', '?', '-', '']

# Wczytujemy plik z parametrem na_values
df = pd.read_csv('dane.csv', na_values=braki)

```

### **Rozwiązanie 2: Zamiana po wczytaniu**

```
# Zamieniamy wybrane stringi na NaN
df.replace(['NA', 'N/A', 'brak', 'brak danych', '?', '-'], np.nan, inplace=True)

# LUB dla konkretnej kolumny
df['kolumna'] = df['kolumna'].replace('brak', np.nan)
```

# **Zadanie**:

**Dane**: Plik *nieruchomosci.csv* - 45 ofert sprzedaży mieszkań

**Polecenie**

* Wczytaj dane i przeanalizuj problem brakujących wartości

* Zdecyduj, jak poradzić sobie z brakami w poszczególnych kolumnach

* Uzasadnij swoje wybory i zaimplementuj rozwiązanie

**Do przemyślenia**

* Jakie typy zmiennych masz w danych?
* Czy wszystkie braki powinny być obsłużone tak samo?
* Jakie konsekwencje niesie każda metoda?
* Jak to wpływa na eksploracyjną analizę danych?

In [12]:
import pandas as pd
import numpy as np

brakujace_wartosci = ['brak', 'NA', 'N/A', '?', 'n/a', 'None', 'NULL']
df = pd.read_csv('nieruchomosci.csv', na_values=brakujace_wartosci)

# Identyfikacja błędnych danych numerycznych (0 lub wartości ujemne)
kolumny_numeryczne = ['powierzchnia', 'rok_budowy', 'pietro', 'liczba_pieter', 'cena_m2', 'cena_total']

for kol in kolumny_numeryczne:
    if kol in df.columns:
        if kol == 'pietro':
            maska = df[kol] < 0
        else:
            maska = df[kol] <= 0
        df.loc[maska, kol] = np.nan

#
print("Podsumowanie brakujących wartości po wstępnej konwersji:")
print(df.isna().sum())
print("\nInformacje o strukturze danych:")
print(df.info())

print("\nUnikalne wartości w kolumnach kategorycznych (sprawdzanie błędów wprowadzania):")
for kol in ['miasto', 'dzielnica', 'parking', 'balkon', 'stan']:
    if kol in df.columns:
        print(f"{kol}: {df[kol].unique()}")

print("\nPierwsze 10 wierszy (przed czyszczeniem):")
print(df.head(10))

# 1. Poprawa
df['stan'] = df['stan'].replace('很好', 'Bardzo dobry')

# 2.
# Powierzchnia = cena całkowita / cena za m2
df['powierzchnia'] = df['powierzchnia'].fillna(df['cena_total'] / df['cena_m2'])

# Cena za m2 = cena całkowita / powierzchnia
df['cena_m2'] = df['cena_m2'].fillna(df['cena_total'] / df['powierzchnia'])

# 3. Uzupełnianie pozostałych braków

df['powierzchnia'] = df['powierzchnia'].fillna(df['powierzchnia'].median())
df['rok_budowy'] = df['rok_budowy'].fillna(df['rok_budowy'].median())
df['pietro'] = df['pietro'].fillna(df['pietro'].median())
df['cena_m2'] = df['cena_m2'].fillna(df['cena_m2'].median())

# Dane kategoryczne: używamy dominanty (najczęściej występująca wartość)
df['parking'] = df['parking'].fillna(df['parking'].mode()[0])
df['balkon'] = df['balkon'].fillna(df['balkon'].mode()[0])

# 4. Finalne poprawki: zaokrąglanie i typy danych
df['rok_budowy'] = df['rok_budowy'].astype(int)
df['pietro'] = df['pietro'].astype(int)
if df['liczba_pieter'].isna().sum() == 0:
    df['liczba_pieter'] = df['liczba_pieter'].astype(int)

# Weryfikacja czyszczenia
print("\nBrakujące wartości po zakończeniu czyszczenia:")
print(df.isna().sum())

print("\nPierwsze 10 wierszy po czyszczeniu:")
print(df.head(10))

# Zapisanie wyczyszczonych danych do nowego pliku
df.to_csv('nieruchomosci_wyczyszczone.csv', index=False)
print("\nPlik 'nieruchomosci_wyczyszczone.csv' został pomyślnie zapisany.")

Podsumowanie brakujących wartości po wstępnej konwersji:
id               0
miasto           0
dzielnica        0
powierzchnia     9
liczba_pokoi     0
rok_budowy       7
pietro           3
liczba_pieter    0
parking          5
balkon           3
stan             0
cena_m2          2
cena_total       0
dtype: int64

Informacje o strukturze danych:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             45 non-null     int64
 1   miasto         45 non-null     object
 2   dzielnica      45 non-null     object
 3   powierzchnia   36 non-null     float64
 4   liczba_pokoi   45 non-null     int64
 5   rok_budowy     38 non-null     float64
 6   pietro         42 non-null     float64
 7   liczba_pieter  45 non-null     float64
 8   parking        40 non-null     object
 9   balkon         42 non-null     object
 10  stan           45 non-null     object
 11  cena_m2        43 non-null     float64
 12  cena_total     45 non-null     float64
dtypes: float64(6), int64(2), object(5)
memory usage: 4.7+ KB
None

Unikalne wartości w kolumnach kategorycznych (sprawdzanie błędów wprowadzania):
miasto: ['Warszawa' 'Kraków' 'Wrocław' 'Poznań' 'Gdańsk']
dzielnica: ['Mokotów' 'Krowodrza' 'Krzyki' 'Grunwald' 'Wrzeszcz' 'Śródmieście'
 'Podgórze' 'Stare Miasto' 'Jeżyce' 'Oliwa' 'Żoliborz' 'Kazimierz'
 'Psie Pole' 'Rataje' 'Siedlce' 'Praga' 'Nowa Huta' 'Fabryczna' 'Wilda'
 'Przymorze' 'Ochota' 'Bronowice' 'Centrum' 'Ursynów' 'Dębniki' 'Zaspa'
 'Wilanów' 'Łagiewniki' 'Biskupin' 'Sołacz' 'Chełm' 'Bielany' 'Ruczaj'
 'Gaj' 'Główna' 'Morena' 'Targówek' 'Mistrzejowice' 'Ołbin' 'Piątkowo'
 'Suchanino']
parking: ['Tak' 'Nie' nan]
balkon: ['Tak' 'Nie' nan]
stan: ['Dobry' '很好' 'Bardzo dobry' 'Do remontu']

Pierwsze 10 wierszy (przed czyszczeniem):
   id    miasto     dzielnica  powierzchnia  liczba_pokoi  rok_budowy  pietro  \
0   1  Warszawa       Mokotów          65.0             3      2015.0     4.0
1   2    Kraków     Krowodrza          48.0             2         NaN     2.0
2   3   Wrocław        Krzyki          72.0             3      2010.0     NaN
3   4    Poznań      Grunwald          55.0             2      2018.0     3.0
4   5    Gdańsk      Wrzeszcz          80.0             4      1998.0     1.0
5   6  Warszawa   Śródmieście           NaN             2      2020.0     7.0
6   7    Kraków      Podgórze          60.0             3      2005.0     0.0
7   8   Wrocław  Stare Miasto          45.0             1      2019.0     5.0
8   9    Poznań        Jeżyce          70.0             3         NaN     2.0
9  10    Gdańsk         Oliwa          90.0             4      2001.0     1.0

   liczba_pieter parking balkon          stan  cena_m2  cena_total
0           10.0     Tak    Tak         Dobry  12500.0    812500.0
1            5.0     Nie    Tak            很好  10200.0    489600.0
2            4.0     Tak    Nie         Dobry   9800.0    705600.0
3            8.0     Tak    Tak  Bardzo dobry  11000.0    605000.0
4            3.0     NaN    Tak    Do remontu   8500.0    680000.0
5           12.0     Tak    Tak  Bardzo dobry  15000.0   1200000.0
6            6.0     Tak    Nie         Dobry   9500.0    570000.0
7            9.0     Nie    Tak  Bardzo dobry  11500.0    517500.0
8            4.0     Tak    Tak         Dobry  10500.0    735000.0
9            2.0     Tak    Tak         Dobry   9000.0    810000.0

Brakujące wartości po zakończeniu czyszczenia:
id               0
miasto           0
dzielnica        0
powierzchnia     0
liczba_pokoi     0
rok_budowy       0
pietro           0
liczba_pieter    0
parking          0
balkon           0
stan             0
cena_m2          0
cena_total       0
dtype: int64

Pierwsze 10 wierszy po czyszczeniu:
   id    miasto     dzielnica  powierzchnia  liczba_pokoi  rok_budowy  pietro  \
0   1  Warszawa       Mokotów          65.0             3        2015       4
1   2    Kraków     Krowodrza          48.0             2        2011       2
2   3   Wrocław        Krzyki          72.0             3        2010       3
3   4    Poznań      Grunwald          55.0             2        2018       3
4   5    Gdańsk      Wrzeszcz          80.0             4        1998       1
5   6  Warszawa   Śródmieście          80.0             2        2020       7
6   7    Kraków      Podgórze          60.0             3        2005       0
7   8   Wrocław  Stare Miasto          45.0             1        2019       5
8   9    Poznań        Jeżyce          70.0             3        2011       2
9  10    Gdańsk         Oliwa          90.0             4        2001       1

   liczba_pieter parking balkon          stan  cena_m2  cena_total
0             10     Tak    Tak         Dobry  12500.0    812500.0
1              5     Nie    Tak  Bardzo dobry  10200.0    489600.0
2              4     Tak    Nie         Dobry   9800.0    705600.0
3              8     Tak    Tak  Bardzo dobry  11000.0    605000.0
4              3     Tak    Tak    Do remontu   8500.0    680000.0
5             12     Tak    Tak  Bardzo dobry  15000.0   1200000.0
6              6     Tak    Nie         Dobry   9500.0    570000.0
7              9     Nie    Tak  Bardzo dobry  11500.0    517500.0
8              4     Tak    Tak         Dobry  10500.0    735000.0
9              2     Tak    Tak         Dobry   9000.0    810000.0

Plik 'nieruchomosci_wyczyszczone.csv' został pomyślnie zapisany.